/* General Customizations */
body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
/* Center navbar objects */
.navbar-collapse.collapse {
    text-align: center; /* Set this */
}
.navbar-nav {
    display: inline-block;
    float: none;
}
/* Adjust vertical position of navbar */
.container-fluid {
    margin-bottom: -5px;
}
/* Adjustments for logo */
.navbar-default .navbar-brand {
    color: #000000;
    padding-right: 0px;
}
/* NavBar UX*/
.navbar-default .navbar-nav > li > a {
    transition-property: color, border-color;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.15s, 0.5s;
    transition-timing-function: ease, ease;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #F1654C;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #F1654C;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #00B5B5;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #00B5B5;
}

.navbar-collapse.collapse {
    text-align: center; /* Set this */
}

.widget-link {
    height: 20px;
    width: auto;
}


.jumbotron{
    height: 100vh;
    background-image:url(../img/nyc_background.jpg) !important;
    background-size: cover;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

    display: flex;
    align-items: center;
}

.name{
    font-size: 54px;
    color: white;
    font-weight: 700;
}

.descriptor{
    font-size:27px;
    color:white;
    font-weight: 300;
}

.down-arrow {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
}

.down-arrow span{
    position:relative;
    color: #ffffff;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.row.arrow{
    position: absolute;
    bottom: 30px;
    margin-bottom: 10px;
    left: 50%;
    margin-left: -50px;
}

@-webkit-keyframes drop	{
    0%   { top:-10px;  opacity: 0;}
    30%  { top:10px; opacity: 1;}
    100% { top:25px; opacity: 0;}
}

@keyframes drop	{
    0%   { top:-10px;  opacity: 0;}
    30%  { top:10px; opacity: 1;}
    100% { top:25px; opacity: 0;}
}