/* General Customizations */
body {
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
}
/* Center navbar objects */
.navbar-collapse.collapse {
    text-align: center; /* Set this */
}
.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

.navbar-collapse.collapse {
    text-align: center; /* Set this */
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}